In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv("data_till_now.csv")

In [62]:
df.head()

,Company,Experience,UG,Role,Job Description,Location,Employment Type,Title,PG,Salary,Department,Doctorate:,Skills,Industry Type,Role Category
0,Startek,0 - 1 years,Graduation Not Required,Collection Executive / Officer,Role & responsibilities > Visit customers at ...,Hiring office located in Pune,"Full Time, Permanent",Mega Walk In Drive- Field Collection & Recover...,NaN,2.25-2.75 Lacs P.A.,"BFSI, Investments & Trading",NaN,"Field Collections, Legal Documentation, Field ...",BPO / Call Centre,Lending
1,Deutsche Bank,0 - 1 years,Any Graduate,Business Correspondent,Job Description: Job Title - Know Your Cli...,Bengaluru,"Full Time, Permanent","Know Your Client, NCT",Any Postgraduate,Not Disclosed,"BFSI, Investments & Trading",NaN,"standard operating procedures, anti money laun...",Investment Banking / Venture Capital / Private...,Banking Operations
2,Deutsche Bank,0 - 1 years,Any Graduate,KYC Analyst,Job Description: Job Title - Know Your Cli...,Bengaluru,"Full Time, Permanent","Know Your Client (KYC) Analyst, NCT",Any Postgraduate,Not Disclosed,"BFSI, Investments & Trading",NaN,"aml, anti money laundering, client onboarding,...",Investment Banking / Venture Capital / Private...,Lending
3,Goldman Sachs,1 - 4 years,Any Graduate,Banking Operations - Other,YOUR IMPACT We re looking for a professional ...,Hyderabad,"Full Time, Permanent",Global Banking & Markets Operations - Regulato...,Any Postgraduate,Not Disclosed,"BFSI, Investments & Trading",NaN,"Data analysis, Change management, Corporate ac...",Banking,Banking Operations
4,Pricewaterhouse Coopers Private Limited,0 - 4 years,Any Graduate,Credit Manager,"reports/ memos, oral presentations ); Collabor...","Kolkata, Mumbai, Hyderabad, Bengaluru","Full Time, Permanent",I&F - Credit Factory - Manager,Any Postgraduate,Not Disclosed,"BFSI, Investments & Trading",NaN,"Retail, Data analysis, Project management, Pro...",Financial Services,Lending

In [63]:
duplicates = df.duplicated()

In [64]:
duplicates.sum()

4053

In [65]:
df['Employment Type'].isna().sum()

1990

In [66]:
df['Employment Type'] = df['Employment Type'].fillna('NA')

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56776 entries, 0 to 56775
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          56764 non-null  object
 1   Experience       56776 non-null  object
 2   UG               52791 non-null  object
 3   Role             54805 non-null  object
 4   Job Description  56773 non-null  object
 5   Location         56776 non-null  object
 6   Employment Type  56776 non-null  object
 7   Title            56776 non-null  object
 8   PG               35667 non-null  object
 9   Salary           56776 non-null  object
 10  Department       54792 non-null  object
 11  Doctorate:       1928 non-null   object
 12  Skills           56776 non-null  object
 13  Industry Type    54798 non-null  object
 14  Role Category    54778 non-null  object
dtypes: object(15)
memory usage: 6.5+ MB

In [68]:
df['Employment Type'].value_counts()

Employment Type
Full Time, Permanent                54277
NA                                   1990
Full Time, Temporary/Contractual      381
Full Time, Freelance/Homebased         37
Part Time, Freelance/Homebased         34
Part Time, Temporary/Contractual       29
Part Time, Permanent                   28
Name: count, dtype: int64

In [69]:
# Drop rows where 'Employment type' contains 'Part Time'
df = df[~df['Employment Type'].str.contains('Part Time', case=False, na=False)]

# Verify the new dataset size
print(f"Dataset size after removing 'Part Time' records: {len(df)}")

Dataset size after removing 'Part Time' records: 56685

In [70]:
df['Employment Type'].value_counts()

Employment Type
Full Time, Permanent                54277
NA                                   1990
Full Time, Temporary/Contractual      381
Full Time, Freelance/Homebased         37
Name: count, dtype: int64

In [57]:
df = df.drop(columns=['Employment Type', 'Company', 'Role', 'Job Description', 'Employment Type', 'Title', 'Industry Type'])

In [58]:
df.to_csv("project_data.csv", index=False, encoding="utf-8")